{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="masthead">

    <div class="container">

        <div class="masthead-subheading">Iniciar Sesión</div>

    </header>

<!-- Agregar cosas debajo -->


<h3>Cargar Avatar</h3>
<form method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}
    {{ miFormulario.as_p  }}
      
    
    <input type="submit" value="Actualizar">
    
    
</form>


<!-- Agregar cosas encima -->

</div>

<br>

{% endblock %}