{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="masthead">

    <div class="container">

        <div class="masthead-subheading">Escribe tu comentario:</div>

    
    
    <form action="comentarioFormulario" method="POST">
        {% csrf_token %}
       <!-- <p><label>Curso:</label> <input type="text" name="curso"></p>
        <p><label>Camada:</label> <input type="number" name="camada"></p> -->
        <table style="margin-left:auto;margin-right:auto;">
    
            {{ miFormulario.as_table }}
    
        </table>
        <p></p>
        <input type="submit" value="Enviar">
    </form>
    
    
    </header>

    </div>

    <br>
    



{% endblock %}