{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="masthead">

    <div class="container">
        <div class="masthead-subheading">Escribe tu Idea,</div>
        <div class="masthead-subheading">Será tomada en cuenta :D</div>
       
            <form action="cursoFormulario" method="POST">
            {% csrf_token %}

            <table style="margin-left:auto;margin-right:auto;">
        
                {{ miFormulario.as_table }}
        
            </table>
            <p></p>
            <input type="submit" value="Enviar">
        </form>
        
        

    </header>
    
    
    
    
    

    </div>

    <br>
    



{% endblock %}