{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="masthead">

    <div class="container">

        <div class="masthead-subheading">Registra el curso</div>

    </header>
    
    <form action="cursoFormulario" method="POST">
        {% csrf_token %}
       <!-- <p><label>Curso:</label> <input type="text" name="curso"></p>
        <p><label>Camada:</label> <input type="number" name="camada"></p> -->
        <table>
    
            {{ miFormulario.as_table }}
    
        </table>
    
        <input type="submit" value="Enviar">
    </form>
    
    
    </form>

    </div>

    <br>
    



{% endblock %}