{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="masthead">

    <div class="container">

        <div class="masthead-subheading">Iniciar Sesión</div>

    </header>

<!-- Agregar cosas debajo -->


<h1>Cursos de Coder - Python</h1>
<ul>
	{% for curso in object_list %}
		<li>
			<p>NOMBRE: {{ curso.curso }}</p>
			<p>
				<a href="{% url 'Detail' curso.id %}">Ver</a>
				<a href="{% url 'Edit' curso.id %}">Editar</a>
				<a href="{% url 'Delete' curso.id %}">Borrar</a>
			</p>
		</li>
	{% endfor %}
</ul>


<!-- Agregar cosas encima -->

</div>

<br>

{% endblock %}