{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}





<header class="masthead">

    <div class="container">

        <div class="masthead-heading text-uppercase">¡Bienvenido a mi Blog!</div>
        <div class="masthead-subheading">Ultimas Publicaciones</div>
        
        
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'inicio' %}">Programación Orientada a Objetos</a>
        <p></p>        
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'inicio' %}">CRUD</a>
        
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'inicio' %}">Pero... ¿Qué es Python?</a>
    </div>

</header>

<!-- -->



<!-- formulario buscar camada -->

<section class="page-section bg-light" id="buscar">

    

</section>


{% endblock %}