{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}





<header class="masthead">

    <div class="container">

        <div class="masthead-subheading">¡Bienvenido a mi Proyecto!</div>

        <div class="masthead-heading text-uppercase">Es un placer conocerte</div>
        
        <a class="btn btn-primary btn-xl text-uppercase" href="#buscar">Buscar Camada</a>

    </div>

</header>

<!-- -->



<!-- formulario buscar camada -->

<section class="page-section bg-light" id="buscar">

    

</section>


{% endblock %}