{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="masthead">

    <div class="container">

        <div class="masthead-subheading">Registrate como profesor</div>

    </header>
    
    <form action="profesor" method="POST">
        {% csrf_token %}

        <table>
    
            {{ miFormulario.as_table }}
    
        </table>
    
        <input type="submit" value="Enviar">
    </form>
    
    
    </form>

    </div>

    <br>
    



{% endblock %}